#image-background::before {
    height: 100vh;
    background-image: url('../assets/Earth_from_Space.jpg') ;
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto 115%;
    /* https://dev.to/nazanin_ashrafi/remove-white-border-from-blurry-background-image-3d8j */
    position: fixed;
    content:"";
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    filter: blur(10px) grayscale(40%);
    /*margin: -20px;*/
    z-index: -1;
}

html, body {
    margin: 0;
    padding: 0;
    height:100%;

    font-family: "Roboto Light", sans-serif;
    color: white;
}
body {
    background-color: black;
}

nav, footer, #flight-summary{
    background-color: rgba(50,50,50,0.5);
    border: solid #FFF1;
    border-width: .25em 0 .25em 0;
}
#flight-summary{
    border-width: 0 0 .25em 0;
}

.menu {
    margin: 0;
    padding: 0 2% 0 2%;
    display: flex;
    /*flex-direction: row;
    flex-wrap: nowrap;*/
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: stretch;

    height: 8.3%;
}

#home-btn{
    font-size: .8em;
    padding: .5em;
    text-decoration: underline;
}
#home-btn::after{
    width: 90%;

    background: rgb(80,180,250);
    height: 0.5em;
    border: 0;

}

#user-image img{
    height: 2em;
    clip-path: circle();
}

.menu>ul{
    padding-inline-start: 0;
    list-style-type: none;
    margin-block-start: 0;
    margin-block-end: 0;
    margin: 0;
}

#task-bar{
    display: flex;
    justify-content: flex-start;
    width: 60%;
    padding-inline-start: 0;
    margin: 0;
}

#task-bar .selected{
    background: white;
    color: black;
}

.task {
    height: 100%;
    width: 20%;
    font-size: .75em;
    font-weight: bold;
    position: relative;
}
.task>a{
    position: absolute;
    bottom: .5em;
    left: .5em;
}

#settings-zone{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 40%;
}

#settings-zone .circled{
    display: flex;
    align-items: center;
    justify-content: center;
}

.circled i{
    height: 1.5em;
    width: 1.5em;

    color: rgb(32,32,32);
    background: white;
    border-radius: 50%;

    display: flex;
    align-items: center;
    justify-content: center;
}
.circled.greyed i{
    color: rgb(45,45,45);
    background: rgb(85,85,85);
}

#name{
    color: white;
    display: flex;
    align-items: center;
}
#name p{
    margin: 0;
    line-height: normal;
    font-size: .75em;
}

/* Flight summary */

* {
    border:1px solid red;
}

#flight-summary {
    height: 12%;
    display: flex;
    align-items: stretch;
    align-content: center;
    gap: 0.5%;
}

#selected-aircraft, #flight-condition{
    width: 18%;
}

#selected-aircraft{
    background-color: white;
    color: black;
    font-size: .7em;
}
#selected-aircraft em{
    font-weight: bold;
}

#from-to{
    width: 58%;
}
#from-to > div:nth-of-type(1){
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    font-size: 1.5em;
    font-weight: bold;
}

#departure-n-arrival{
    display: flex;
    justify-content: space-between;
    align-items: stretch;

}

.ad-dropdown{
    border-color: rgb(80,180,250);
    /*background-image: rgb(80,180,250);*/
}
.ad-dropdown,.rwy{
    color: white;
    background-color: rgb(53,57,62);
    width: 100%;
}
.rwy{
    padding: 0;
}

#exchange {
    /*padding: 0 1em 0 1em;*/
    background: rgb(80,180,250);
    border-radius: 50%;
    height: 1.5em;
    width: 1.5em;
}
